<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>

    <!--1. Enter the following information for the Cosmos db account:
          1. Account Endpoint 
          2. Primary Key for the account - to enable writes to the specified collection
          3. Database Name within which the collection resides
          4. Collection Name to write the data to
          5. Collection Throughput - this is used to optimize writes to the collection
          6. Collection Partition Key - this is used when creating the partition key field for the collection (for Composite keys)
    The collection needs to be created ahead of time and then the information needs to be provided below. -->
    <add key="Endpointurl" value="https://your-cosmosdb-account-name.documents.azure.com:443/" />
    <add key="Authorizationkey" value="your-cosmosdb-account-key" />
    <add key="Databasename" value="your-cosmosdb-database" />
    <add key="Collectionname" value="your-cosmosdb-collection" />
    <add key="CollectionThroughput" value="50000" />
    <add key="CollectionPartitionKey" value="/documentNumber" />

    <!-- 2. Enter the Storage account information, from where to fetch the csv/gzip files from -->
    <add key="StorageAccountContainerName" value="your-blob-storage-container" />
    <add key="StorageAccountConnectionString" value="your-blob-storage-connection-string" />

    <add key="NumberOfBatches" value="1" />
    <add key="NumberOfIterations" value="50" />
    <add key="PartitionKeyFieldName" value="documentNumber" />

    <!--3. Boolean flag indicating whether or not the files in the Blob container are gzipped -->
    <add key="FilesAreGZipped" value="false" />

    <!--4. Boolean flag indicating whether or not he first row of the CSV files in the container contains column headers -->
    <add key="FirstRowContainsColumnHeaders" value="true" />

    <!--5. Enter the number of CSV files to read along with the names of each of them in the format below -->
    <add key="NumberOfFilesToRead" value="1" />
    <add key="FileName1" value="TestFile.csv" />

    <!--6. Enter the number of fields to concatenate into the PK if any along with the field names in the format below -->
    <add key="NumberOfFieldsInPK" value="0" />
    <add key="PKField1" value="firstName" />
    <add key="PKField2" value="lastName" />

    <!--7. Enter the number of fields in the CSV file. This can be ignored if the first line contains column headers -->
    <add key="NumFieldsInCSV" value="9" />
    <add key="Field1" value="firstName" />
    <add key="Field2" value="lastName" />
    <add key="Field3" value="dateOfBirth" />
    <add key="Field4" value="highSchool" />
    <add key="Field5" value="undergraduateUniversity" />
    <add key="Field6" value="graduateUniversity" />
    <add key="Field7" value="mastersDegree" />
    <add key="Field8" value="documentNumber" />
    
    <!--8. This is a specific configuration to determine how to treat Date fields when used as part of the Partition Key -->
    <add key="UseDateFormatter" value="false" />
    <add key="DateFormatInYYYY-MM-DD" value="false" />
    <add key="DateFormatInYYYYMMDD" value="false" />
    <add key="DateFormatInYYYY/MM/DD" value="true" />
    
    <add key="UseSysTxDateInPK" value="true" />
    <add key="Use-YYYYMMDD" value="true" />
    <add key="Use-YYYYMMDD-WW" value="false" />
    <add key="Use-OnlyYYYY" value="false" />
    <add key="Use-OnlyMM" value="false" />
    <add key="Use-OnlyDD" value="false" />
    <add key="Use-OnlyWW" value="false" />
    <add key="Use-OnlyYYMM" value="false" />
    <add key="Use-OnlyYYDD" value="false" />
    <add key="Use-OnlyYYWW" value="false" />
    <add key="Use-OnlyMMDD" value="false" />
    <add key="Use-OnlyMMWW" value="false" />
    <add key="Use-OnlyDDWW" value="false" />

    <!--9. Enter the number of fields to be treated as String fields along with the names of each of the fields, in the format below -->
    <add key="NumberOfStringFieldsInDataset" value="8" />
    <add key="StringField1" value="firstName" />
    <add key="StringField2" value="lastName" />
    <add key="StringField3" value="dateOfBirth" />
    <add key="StringField4" value="highSchool" />
    <add key="StringField5" value="undergraduateUniversity" />
    <add key="StringField6" value="graduateUniversity" />
    <add key="StringField7" value="undergraduateDegree" />
    <add key="StringField8" value="mastersDegree" />

  </appSettings>
</configuration>